<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/users}" th:object="${user}">
    <input type="hidden" th:field="*{id}" id="id"/>
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="age">Enter age: </label>
    <input type="number" th:field="*{age}" id="age"/>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <label for="login">Enter login: </label>
    <input type="text" th:field="*{login}" id="login"/>
    <br/>
    <label for="password">Enter password: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <br/>
    <label for="role">Enter admin: </label>
    <input type="text" list="dish" th:field="*{role}" id="role"/>
    <datalist id="dish">
        <option value="ROLE_ADMIN" label="Admin">
        <option value="ROLE_USER" label="User">
    </option>
    </datalist>
    <input type="submit" th:value="Update"/>
</form>
</body>
</html>